<div class="modal" id="modalBeneficiarios" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Beneficiários
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>

            <div class="modal-body">
                <div class="beneficiario-modal-container">
                    <div class="beneficiario-input-group">
                        <label for="cpf">CPF:</label>
                        <input type="text" id="cpf" class="form-control" placeholder="Ex.: 010.011.111-00" maxlength="15">
                    </div>

                    <div class="beneficiario-input-group">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" class="form-control" placeholder="Ex.: Maria" maxlength="50">
                    </div>

                    <button type="button" class="btn btn-success btn-sm beneficiario-incluir-button">Incluir</button>
                </div>
            </div>
        </div>
    </div>
</div>